# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
# dist/ TODO: uncomment this after fixing the structure of the project
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Rust
/target/
**/*.rs.bk
Cargo.lock

# WebAssembly
client/dist/pkg/
client/dist/isometric_rts_bg.wasm
client/dist/isometric_rts.js

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
